

.lista-card{
  display:flex;
  flex-wrap: wrap;
  color: rgb(76, 54, 54);
}  
.card{
  border: 1px solid rgba(79, 66, 66, 0.205);
  width: 250px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.584);
  margin-bottom: 12px;
  margin-left: 12px;
  text-align:center;
  justify-content: space-around;
  cursor: pointer;
}

.semDesconto{
  color: rgb(152, 56, 56);
  text-decoration: line-through;
}
.comDesconto{
  text-decoration:underline;
}
.textos{
  color: rgb(19, 20, 20);
}
.grupo-img{
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction:row ;
  justify-content:center;
}

.cor{

  background-color: burlywood;
}
footer{
  text-align: center;
  border: 2px;
  background-color: rgb(168, 107, 107);
}

